{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
{# {{ parent() }} #}
    <table class="table">
        <tr>
            <td>id</td>
            <td>titre</td>
            <td>quantité</td>
            <td>prix</td>
            <td>prix Total</td>
            <td>action</td>
        </tr>

       {# {% for index,  monPaniers in panier %} 
            {% for monpanier in monPaniers %}
                <td>{{ monpanier }}</td>
            {% endfor %}
        {% endfor %} #}

    {% if panier.conferenceId|length  > 0 %}
        {% for key, value in  panier.conferenceId %}
        <tr> 
            <td>{{ panier.conferenceId[key]}}</td>
            <td>{{ panier.titre[key] }}</td>
            <td>{{ panier.quantite[key] }}</td>
            <td>{{ panier.prix[key]}}</td>
            <td>{{ panier.quantite[key] * panier.prix[key] }}</td>
            <td><a href="{{ path('app_panier_supprimer', {'conferenceId': panier.conferenceId[key]}) }}">Supprimer</a></td>                                                                                                                                                                                                    
        </tr>
        {% endfor %}
    {% else %}
    <tr>
        <td colspan="3"></td>
        <td> panier vide </td>
        <td></td>
    </tr>
    {% endif %}
        <tr style="height:100px;"><td colspan="3" valign="top"></td><td></td><td> </td></tr>
        <tr><td colspan="3" valign="top" border="1"></td><td>Prix Total</td><td>{{ prixTotal }} </td></tr>
    </table>

{% endblock %}
