{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
    <h1>Une erreur s'est produite</h1>
    <p>{{ exception.message }}</p>
    {{ include('conferences/partials/formulaire.html.twig') }}
{% endblock %}