{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    {{ parent() }}
{{ form_start(form)}}
{{ form(form)}}
{{ form_end(form)}}
{% endblock %}
