{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{{ parent() }}
{% if app.request.session.get('mode') =='ouverture'%}
    {% set  mode = app.request.session.get('mode') %}
{% else %}
    {{ app.request.session.set('mode', 'fermeture')}}
    {% set mode =  app.request.session.get('mode') %}
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-sm-10">
        </div>
        <div class="col-sm-2" style="border: 1px solid black">
            <a href=""><img src="{{ asset('img/avatar.png') }}" alt="" width="180"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="border: 1px solid black">
        <h5><a href="?infos=infos">infos personnels</a> </h5>
        <h5><a href="?infos=infos&conference=conference">Mes conférences</a> {% if (app.request.query.get('conference') and mode == 'fermeture' ) %}>{% endif %} </h5>
        {# <h5><a href="{{ path('edit_reservation',{'id':})}}">Mes réservations</a></h5> #}
        {% if (app.request.query.get('conference') and mode == 'ouverture' ) or app.request.query.get('commentaire')  %}
        <ul>
          {% for conference in conferences %}
            <li><a href="{{ path('app_user_conf',{'idUser':user.id, 'idConf':conference.id})~'?conference=conference&commentaire=commentaire' }}"> {{conference.titre}} </a></li> 
            {# {# <li><a href="{{ path('app_user',{'idUser':user.id })~'?conference=conference&commentaire=commentaire' }}"> {{conference.titre}} </a></li> #}
          {% endfor %}
          </ul>
         {{ app.request.session.set('mode','fermeture') }}
        {% elseif app.request.query.get('conference') and mode == 'fermeture' or app.request.query.get('commentaire')  %}
         {{ app.request.session.set('mode', 'ouverture')}}
            {% endif %}
        <h5><a href="">Mes réservations</a></h5>
        
            <ul>
        {% for reservation in reservations %}
    <li><a href="">{{reservation.createdAt|date('YmdHis')}}</a></li>
        {% endfor %}
        </ul>
        </div>
        <div class="col-sm-8" style="border: 1px solid black">
            {% if app.request.query.get('infos') %}
            <i> prénom </i> : {{user.firstName }}<br>
            <i> nom </i> : {{user.lastName}} <br>   
            <i> email </i> : {{user.email }}<br>
            {% endif %}

        {% if app.request.query.get('commentaire') %}
       <h5> {{ commentaires[0].conference.titre }}</h5>
            {% for commentaire in commentaires %}
            {% if app.request.query.get('conference') and app.request.query.get('commentaire') %}
            <i>pseudo </i>: {{ commentaire.pseudo }}<br>
            <i>commentaire </i>: {{ commentaire.content }}<br><br>
            {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
{# {{ dump(conference)}} #}

{% endblock %}
