{% extends 'base.html.twig' %}

{% block title %}Hello ConferencsController!{% endblock %}
{% block body %}
{{ parent() }}

     <div class="container mt-5">
        <div class="row">
        <div class="col-sm-4" style="height:800px"> 
        <p><a href="{{ path('conference.add') }}">Ajouter une conférence</a></p>
        {{ include('conferences/partials/menu.html.twig') }}
        
        </div>
        <div class="col-sm-8">
        {% for category, conference in conferences %}

        <div class="col-sm-3" style="display:inline-block;">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
        {% if conference.image  %}
        <div class="card-header"><img src="{{asset(conference.image.url)}}" alt="{{ conference.image.alt }}" style="width:100%; height:100px;"/></div>
        {% endif %}
        <div class="card-header">{{ conference.titre }}</div>
         <div class="card-body">
        <p class="card-text">{{ conference.description }}</p>
        <h5 class="card-title">Hello World</h5>
        <h6 class="card-title">date: {{ conference.date|date('d-m-Y') }}</h6>
        <h6 class="card-title">prix: {{ conference.prix~' €' }}</h6>
        <a href="{{ url('conference.details',{'id':conference.id})}}">Details de la conférence</a>
        <i>{{ conference.commentaires|length ~' '~ 'commentaire(s)' }}</i>
        {% if conferences|length == 1 %}
        <a href="{{path('conference.edit', {'id':conference.id})}}">Modifier</a>
        {% endif %} 
        <i>categorie: {{ conference.categorie.nom }}</i>
        </div>
        </div>
        </div>
        
        {% endfor %} 
    {{ knp_pagination_render(conferences) }}
     </div>
     </div>
<div class="navigation">
</div> 
</div>

{% endblock %}

      