{% extends 'base.html.twig' %}

{% block title %}Hello ConferencsController!{% endblock %}
{% block body %}
{{ parent() }}
{# foreach($conferences as $conference) => {% for conference in conferences %} #}
        {# {{ dump(prenom) }}
        {{ dump(prenom[0]['age']) }}

        {{ 'hello'|upper}} #}
    <div class="container mt-4">
        <div class="row">
        
        <div class="col-sm-4">
         {{ include("conferences/partials/menu.html.twig") }}
         
          {# {% for categorie in categories %}
         <li><a href="{{ path('conference.categorie',{'nom':categorie.nom})}}">{{categorie.nom}}</a></li>
         {% endfor %} #}
        </div>
        <div class="col-sm-8">
        <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header" style="border:1px solid margin:auto;"><img src="{{ asset(conference.image.url) }}" alt="{{ conference.image.alt }}" width="100%" /></div>
        <div class="card-header">titre: {{ conference.titre}}</div>
        <div class="card-body">
        <p class="card-text">Description: <i>{{ conference.description }}<i></p>
        <h5 class="card-title">lieu: <i>{{ conference.lieu }}</i></h5>
        <h5 class="card-title">prix: <i>{{ conference.lieu }}</i></h5>
        <h5 class="card-title">date: <i>{{ conference.date|date('d-m-Y') }}</i></h5>
        {# <a href="{{path('conference.supp', {'id':conference.id})}}">Supprimer</a> #}
        {% if is_granted("view",conference) %}
        <a href="{{path('conference.edit', {'id':conference.id})}}">Modifier</a>
        <a href="{{path('conference.supp', {'id':conference.id})}}">Supprimer</a>
        {% endif %}
        <a href="{{path('app_reservation', {'id':conference.id})}}">Reserver</a>

        {# <a href="{{path('ajout_commentaire')}}">commentaire</a> #}
        <form action="" >
        <input type="hidden" name="idConference" value="{{conference.id}}">
        <input type="submit" value="commentaire">
        </form>
          <form action="{{ path('app_panier')}}" method="POST">
        <select name="quantite">
            <option value="">Quantité</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select><br>
        <input type="hidden" name="conferenceId" value="{{ conference.id }}" /><br>
        <input type="submit" value="Ajouter au panier" />
        </form>
        <a href="{{path('conference.index')}}">Retour</a>
        </div>
        <i>{{ conference.commentaires|length ~' '~ 'commentaire(s)' }}</i>
        </div>
        {# {{ dump(app.request.query.get('idConference')) }} #}
       {% if app.request.query.get('idConference') is not empty %}
        {{ include('conferences/partials/_commentaire.html.twig')}}
        {% endif %}
        {% for  commentaire in conference.commentaires %}
        <i>Auteur : {{ commentaire.pseudo }} </i><br>
        <i>Message : {{ commentaire.content }} </i><br>
        <i>Date de publication : {{ commentaire.publishedAt|date }} </i><br><br>
        {% endfor %}
        </div>
        </div>
     </div>
</div>
{% endblock %}
