{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
{# {{ form_start(form) }} #}
    <div>
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre) }}
        {{ form_errors(form.titre) }}
    </div>

    <div>
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>

    <div>
        {{ form_label(form.lieu) }}
        {{ form_widget(form.lieu) }}
        {{ form_errors(form.lieu) }}
    </div>

    <div>
        {{ form_label(form.categorie) }}
        {{ form_widget(form.categorie) }}
        {{ form_errors(form.categorie) }}
    </div>

    <div>
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
    </div>
{# 
    <div>
        <button type="submit">Submit</button>
    </div> #}
{{ form_end(form) }}

{# Display global errors #}
{# {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %} #}
