
{# {% for categorie in categories %} #}
{# {{ dump(categorie.nom)}} #}
<h5>Filtre</h5>
{% set prices = [50, 100, 150, 200, 250, 300, 350, 400] %}
      <form action="{{ path('conference.recherche')}}" method="POST">
      <table>
      <td> prix: <br><br></td><td>
      <select name="prix">
          <option value="" >selectionner un prix</option>

          {% for price in prices %}
          <option value="{{ price }}" {% if selectedPrix is defined and price == selectedPrix %} selected {% endif %}> < {{ price }}</option>
          {% endfor %}
        </select><br><br></td></tr>

        <tr> <td> date: <br><br></td><td> <input type="date" placeholder="Search" name="date" value="{{ selectedDate ??'' }}" /><br><br></td> </tr>
        <tr>
          <td>categorie:<br><br></td>
          <td><select name="categorie">
                <option value="">selectionner une catégorie</option>
              {{ dump(categories) }}
              {% for categorie in categories %}
                <option value="{{ categorie}}" {% if selectedCategorie is defined and categorie == selectedCategorie %}selected{% endif %}>{{categorie}}</option>
              {% endfor %}
        </select><br><br></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" class="btn btn-primary" value="Search"/></td>
        </tr>
      </table>

      </form>
    {{ render(controller(
        'App\\Controller\\ConferencesController::menu', {nom: categories[0].nom}
    )) }}
{# {% endfor %} #}


  {# <ul>
    {% for conference in lastConferences %}
    <li><a href="{{path('conference.details',{'id':conference.id})}}">{{ conference.titre }}</a></li>
    {% endfor %}
  </ul>
  <ul>
    {% for categorie in categories %}
    <li><a href="{{ path('conference.categorie',{'nom':categorie.nom})}}">{{categorie.nom}}</a></li>
    {% endfor %}
  </ul> #}