{% extends 'base.html.twig' %}

{% block title %}Hello CommentaireController!{% endblock %}

{% block body %}
   <div class="container">
{{ form_start(form, {'method': 'POST','action': path('ajout_commentaire',{'id':id}) }) }}
{# {{ form_start(form) }} #}
<div class="row">
<div class="col-sm-4">
{{ form_row(form.pseudo) }}
</div>
</div>
<div class="row">
<div class="col-sm-4">
{{ form_row(form.content) }}
</div>
</div>

{{ form_end(form)}}
</div>
{% endblock %}
