{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    {{ form_row(form.nom) }}
    {# {{ form_errors(form) }} #}
    {% for error in form_errors(form.nom) %}
                <li>{{ error.message }}</li>
            {% endfor %}
    {{ form_end(form) }}
{% endblock %}