{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        Vous essayez d'accéder à une page qui n'existe pas
         <a href="{{ path('conference.index') }}">retournez à la page d'accueil</a>.
    </p>
{% endblock %}